body {
     font-family: 'Do Hyeon', sans-serif;
     background-color: #f0f0f0;
}
 .container {
     display: grid;
     height: 100%;
     grid-template-columns: 100%;
     grid-template-rows: 150px 60px 2fr 150px;
     grid-template-areas: "hd" "nav" "main" "ft";
}